{% extends 'layouts/base.html' %}
{% block title %}Logged Out{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-6 text-center">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Logged Out Successfully!</h4>
                    <p>You have been logged out of your account.</p>
                    <hr>
                    <p class="mb-0">Click the button below to return to the homepage or login page.</p>
                    <a class="btn btn-primary mt-3" href="{% url 'books.home' %}">Go to Homepage</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


