{% extends 'layouts/base.html' %}
{% load static  %}

{% block content %}
<h1> All Students</h1>
<table class="table">
  <tr><th>ID</th> <th>Name</th>
    <th>Photo</th>
  </tr>
  {% for stu  in students %}
    {% if not stu.is_superuser %}
    <tr>
      <td>{{stu.id}}</td>
      <td>{{stu.first_name}}</td>
      <td><img src="{{stu.image_url}}" alt="image" width="100" height="100"></td>
      <td><a href="{% url 'students.show' stu.id %}" class="btn btn-info">Show</a></td>
      <td><a href="{% url 'students.edit' stu.id %}" class="btn btn-warning">Edit</a></td>
      <td><a href="{% url 'students.delete' stu.id %}" class="btn btn-danger">Delete</a></td>
    {% endif %}
  {% endfor %}
      
</table>
{% endblock %}